.teamcard{
    width: 18rem;
    position: absolute;
    top: 23rem;
    margin-left: 15px;

    background: rgba(255,255,255,0.10);
    backdrop-filter: saturate(180%) blur(10px);
    display: none;

}

#team{
    display: none;
}
.teamcard:hover{
    transform: scale(1.2);
}

