html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: clip;
    top: 0;
    left: 0;
}
a.nav-link.active {
    margin-left: 1rem;
    font-weight: 700;
    font-size: large;
    border-radius: 21px;
    /* border: 3px solid black; */
    margin-right: 1rem;
}
/* a.nav-link.active:hover{
    background-color:white;
    color: black;
} */
.justify-content-center {
    justify-content: right!important;
}
.navbar{
    position: sticky;
}

.navbar1::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.68;
    

}
#pgs{
    color: white;
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Bree Serif', serif;
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 1.2rem;
    
}
#pgs:hover{
    
    background-color:white;
    color: black;
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Bree Serif', serif;
}
#pgs1{
    color: white;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 4px;
    padding-left: 15px;
    font-size: 1.67rem;
    text-shadow: 0 0 3px black, 0 0 7px black;
}




#home{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    padding: 40px 0px;
    height: 655px;
  

}
#home::before{
    content: "";
    position: absolute;
    background: url("banner1.jpeg") no-repeat center center/cover;
    top: 0;
    left: 0;
    border: 3px solid white;
    border-top: 0;
    
    border-bottom-left-radius: 45px ;
    border-bottom-right-radius: 45px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.95;
}
.h-primary{
   padding: 50px 0px; 
   margin-bottom: 80px;
   font-family: 'Alfa Slab One', cursive;
   font-size: 2.7rem;
   text-shadow: 0 0 3px white, 0 0 7px whitesmoke;
   letter-spacing: 1px;
   
  
}
.h-primary:hover{
    padding: 50px 0px; 
    margin-bottom: 80px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 3rem;
    text-shadow: 0 0 4px cyan, 0 0 12px cyan; 
    
   
 }
 .para{
     padding: 78px 90px 2px 90px;
     font-family: 'Bree Serif', serif;
     /* font-family: 'Merriweather Sans', sans-serif; */
     font-size: 1.66rem;
     font-weight: 600;
     text-shadow: 0 0 3px white, 0 0 5px whitesmoke;
 }

h5 {
    text-align: justify;
    font-size: x-large;
    font-weight: 900;
    color: #039e32;
    margin-top: 1rem;
}
.container {
    padding: 47px;
}
.stats{
    font-weight: bolder;
    font-size: xxx-large;
}
block.plus {
    font-size: xxx-large;
    font-weight: 700;
}

.imgstyle{
    width: 100%!important;
}
.carousel-inner {
    position: relative;
    width: 80%;
    overflow: hidden;

}
.carousel {
    padding-left: 18%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.carousel-control-next {
    right: 191px;
}
.carousel-control-prev {
    left: 206px;
}

#team{
    color: white;
    border-bottom: 10px;
    font-size: -webkit-xxx-large;
    font-weight: 600;
    /* border-bottom: 10px; */
    text-decoration-line: underline;
    text-align: center;
}

