.imgs{
  height: 100%;
}
.imgs:hover{
  height: 100%;
 transform: scale(1.2);
}

.flex1-design{
  margin: 60px 1px;
  max-width: 100%;

}
body{
  background-color: #faea87;
  display:none;
}
a.nav-link.active {
  margin-left: 1rem;
  font-weight: 700;
  font-size: large;
  border-radius: 21px;
  /* border: 3px solid black; */
  margin-right: 1rem;
}

.justify-content-center {
  justify-content: right!important;
}
.navbar{
  position: sticky;
}

.navbar1::before{
  content: "";
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.68;
  

}
#pgs{
  color: white;
  font-family: 'Bree Serif', serif;
  letter-spacing: 3px;
  font-weight: 100;
  font-size: 1.2rem;
}
#pgs:hover{
  
  background-color:white;
  color: black;
  font-family: 'Bree Serif', serif;
}
#pgs1{
  color: white;
  font-family: 'Alfa Slab One', cursive;
    letter-spacing: 4px;
    padding-left: 15px;
    font-size: 1.67rem;
    text-shadow: 0 0 3px black, 0 0 7px black;
}

.h1, h1 {
  font-size: 3.5rem;
  padding:55px 5px;
}
#quote{
  text-align: center;
  margin: 0px 100px;
  padding: 0px 160px;
}




.top-part{
  /* background:#fce065; */
  background:#ffd000;;
  transform: skew(0deg, -10deg) ;
  /* padding: 100px 0px; */
  /* transform: scale(20); */
  
  margin: 0px auto;
  z-index: 1;
}

.bottom-part{
  /* background: #ffd000; */
  background:  #e89802;
  transform: skew(0deg, 7deg) ;
  margin: 0px auto;
  height:58rem;

  
  
}
.skew-content{
  transform: skew(0deg,10deg);
  /* padding:100px 200px; */
  
}
.skew-content::after{
  transform: skew(0deg,10deg);
  /* padding:100px 200px; */
  
}
.skew-content1{
  transform: skew(0deg,-7deg);
  /* padding:100px 200px; */
  
}
.skew-content1::before{
  content: "";
  transform: skew(0deg,-10deg);
  /* padding:100px 200px; */
  
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 2px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  
}
.card:hover{
  transform: scale(1.15);
}

/*Clients section*/
#client-section{
  padding-top: 12px;
}
.h-primary1{
  text-align: center;
  font-size: 2.8rem;
}
.below-cont{
  padding-top: 30px;
}
/* #client-section::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 90%;
  z-index: -1;
  opacity: 0.8;
} */
#clients{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px;
}
#clients1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px;
}
#clients img{
  height: 144px;
  padding: 12px 74px;
}
#clients1 img{
  height: 144px;
  padding: 12px 74px;
}


/*Waves*/

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 400px;
}
/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
}

/*Other*/

.unique-color-dark {
  background-color: black !important;
}

.bg-light {
  background-color: black !important;
}

.navbar-brand {
  color: white;
}

.custom-color {
  background-color: black !important
}

