.body{
    width: 100%;
}
a.nav-link.active {
    margin-left: 1rem;
    font-weight: 700;
    font-size: large;
    border-radius: 40px;
    border: 3px solid black;
    margin-right: 1rem;
}
a.nav-link.active:hover{
    background-color:yellow;
}
a.nav-link.active {}

h5 {
    text-align: justify;
    font-size: x-large;
    font-weight: 900;
    color: lightgreen;
    margin-top: 1rem;
}
.container {
    padding: 47px;
}
.stats{
    font-weight: bolder;
    font-size: xxx-large;
}