/* our team page*/

a.nav-link.active {
    margin-left: 1rem;
    font-weight: 700;
    font-size: large;
    border-radius: 21px;
    /* border: 3px solid black; */
    margin-right: 1rem;
}
  /* a.nav-link.active:hover{
    background-color:white;
    color: black;
  } */
.justify-content-center {
    justify-content: right!important;
  }
.navbar{
    position: sticky;
  }
  
.navbar1::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.68;
    
  
  }
  #pgs{
    color: white;
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Bree Serif', serif;
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 1.2rem;
    
}
#pgs:hover{
    
    background-color:white;
    color: black;
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Bree Serif', serif;
}
#pgs1{
    color: white;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 4px;
    padding-left: 15px;
    font-size: 1.67rem;
    text-shadow: 0 0 3px black, 0 0 7px black;
}

.container {
    padding: 47px;
    height: 100%;
}

.teamcard1{
    width: 18rem;
    position: absolute;

    margin-left: 15px;

    background: rgba(255,255,255,0.10);
    backdrop-filter: saturate(180%) blur(10px);
    display: none;
}


.teamcard{
    width: 18rem;
    position: absolute;
    top: 23rem;
    margin-left: 15px;
    
    background: rgba(255,255,255,0.10);
    backdrop-filter: saturate(180%) blur(10px);
    display: none;

}

#team{
    display: none;
    padding-top: 130px;
    height: 60%;
}
.teamcard:hover{
    transform: scale(1.2);
}
.jumb{
position:absolute;
width: 100%;
height:60%;
top: 0;
left: 0;
}

/*Waves*/

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 400px;
}
/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
}

/*Other*/

.unique-color-dark {
  background-color:black !important;
}

.bg-light {
  background-color: black!important;
}

.navbar-brand {
  color: white;
}

.custom-color {
  background-color: black !important
}


